<%= form_with(model: artist, local: true) do |form| %>
  <% if artist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(artist.errors.count, "error") %> prohibited this artist from being saved:</h2>

      <ul>
      <% artist.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field row">
    <div class="col-3"><%= form.label :position %>*</div>
    <div class="col-9"><%= form.number_field :position, value: artist.position || 1 %></div>
  </div>

  <div class="field row">
    <div class="col-3"><%= form.label :name %>*</div>
    <div class="col-9"><%= form.text_field :name %></div>
  </div>

  <div class="field row">
    <div class="col-3"><%= form.label :bio %>*</div>
    <div class="col-9"><%= form.text_area :bio %></div>
  </div>

  <div class="field row">
    <div class="col-3"><%= form.label 'Image' %>*</div>
    <div class="col-9"><%= form.file_field :img_url %></div>
  </div>

  <div class="field row">
    <div class="col-3"><%= form.label "Spotify Playlist URL" %></div>
    <div class="col-9"><%= form.text_field :spotify_playlist %></div>
  </div>

  <div class="field row">
    <div class="col-3"><%= form.label 'Facebook' %></div>
    <div class="col-9"><%= form.text_field :fb %></div>
  </div>

  <div class="field row">
    <div class="col-3"><%= form.label 'Instagram' %></div>
    <div class="col-9"><%= form.text_field :insta %></div>
  </div>

  <div class="field row">
    <div class="col-3"><%= form.label "Twitter" %></div>
    <div class="col-9"><%= form.text_field :twitter %></div>
  </div>

  <div class="field row">
    <div class="col-3"><%= form.label "Spotify" %></div>
    <div class="col-9"><%= form.text_field :spotify %></div>
  </div>

  <div class="actions row">
    <div class="col-3"></div>
    <div class="col-9"><%= form.submit %></div>
  </div>
<% end %>
