<%= form_with(model: artist, local: true) do |form| %>
  <% if artist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(artist.errors.count, "error") %> prohibited this artist from being saved:</h2>

      <ul>
      <% artist.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :position %>
    <%= form.number_field :position %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :bio %>
    <%= form.text_area :bio %>
  </div>

  <div class="field">
    <%= form.label :img_url %>
    <%= form.text_field :img_url %>
  </div>

  <div class="field">
    <%= form.label :spotify_playlist %>
    <%= form.text_field :spotify_playlist %>
  </div>

  <div class="field">
    <%= form.label :fb %>
    <%= form.text_field :fb %>
  </div>

  <div class="field">
    <%= form.label :insta %>
    <%= form.text_field :insta %>
  </div>

  <div class="field">
    <%= form.label :twitter %>
    <%= form.text_field :twitter %>
  </div>

  <div class="field">
    <%= form.label :spotify %>
    <%= form.text_field :spotify %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
