<p id="notice"><%= notice %></p>

<!-- Artists -->
<div class="row artists">
    <div class="col-6 col-lg-4">
        <div class="blurb">
            <%= simple_format(Home.first.intro) %>
            <% if user_signed_in? %>
              <%= link_to "Edit", edit_home_path(Home.first)%>
            <% end %>
        </div>
    </div>

    <% @artists.each do |artist| %>
      <div class="col-6 col-lg-4">
        <div class="shim">
          <%= link_to artist do %>
            <%= image_tag artist.img_url.url, class: "img-fluid" %>
            <p class="artist-name"><%= artist.name %></p>
            <% if user_signed_in? %>
              <div class="position">
                <%= artist.position %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>

    <% if user_signed_in? %>
      <div class="col-6 col-lg-4">
        <%= link_to new_artist_path do %>
          <div class="blurb new">
            Add New Artist
          </div>
        <% end %>
      </div>
    <% end %>
</div>
