<p id="notice"><%= notice %></p>

<!-- Artists -->
<div class="row artists">
    <div class="col-6 col-lg-4">
        <div class="blurb">
            <%= simple_format(Home.first.intro) %>
            <%= link_to "Edit", edit_home_path(Home.first)%>
        </div>
    </div>

    <% @artists.each do |artist| %>
      <div class="col-6 col-lg-4">
        <div class="shim">
           <%= link_to image_tag(artist.img_url, class: "img-fluid"), artist %>
           <p class="artist-name"><%= artist.name %></p>
        </div>
      </div>
    <% end %>

    <div class="col-6 col-lg-4">
      <%= link_to new_artist_path do %>
        <div class="blurb new">
          Add New Artist
        </div>
      <% end %>
    </div>
</div>
