<p id="notice"><%= notice %></p>

 <!-- Artist Profile -->
<div class="row profile">
    <div class="col-12 col-md-5 breakout">
        <%= image_tag @artist.img_url.url, class: "img-fluid" %>
        <% if @artist.editorial.exists? %>    
            <h2 class="d-none d-md-block">Editorial &amp; Sync</h2>
            <div class="row d-none d-md-flex">
                <%= render 'editorials' %>
            </div>
        <% end %>
        <div class="d-none d-md-block">
            
        </div>
    </div>
    <div class="col-12 col-md-7 breakout col-left d-block d-md-none">
        <% if @artist.spotify_playlist != "" %>
            <iframe src="<%= @artist.spotify_playlist %>" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        <% end %>
    </div>
    <div class="col-12 col-md-7 col-left">
        <div class="inner">
            <h1 class="artist-h1"><%= @artist.name %></h1>
            <div class="socials">
                <% if @artist.fb != "" %><%= link_to image_tag("socials/fb.svg", class: "img-fluid"), @artist.fb %><% end %>
                <% if @artist.twitter != "" %><%= link_to image_tag("socials/twitter.svg" , class: "img-fluid"), @artist.twitter %><% end %>
                <% if @artist.insta != "" %><%= link_to image_tag("socials/ig.svg" , class: "img-fluid"),  @artist.insta %><% end %>
                <% if @artist.spotify != "" %><%= link_to image_tag("socials/sp.svg" , class: "img-fluid"), @artist.spotify %><% end %>
            </div>
            <% if @artist.spotify_playlist != "" %>
                <iframe src="<%= @artist.spotify_playlist %>" frameborder="0" allowtransparency="true" allow="encrypted-media" class="d-none d-md-block"></iframe>
            <% end %>
            <h2 class="d-none d-md-block">Biography</h2>
            <div class="d-none d-md-block">
                <%= simple_format(@artist.bio) %>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-7 col-left d-block d-md-none">
        <h2>Biography</h2>
        <%= simple_format(@artist.bio) %>
    </div>
    <div class="col-12 col-md-5 d-block d-md-none">
        <% if @artist.editorial.exists? %>    
            <h2>Editorial &amp; Sync</h2>
            <div class="row">
                <%= render 'editorials' %>
            </div>
        <% end %>
    </div>
    <% if user_signed_in? %>
        <div class="col-12 col-md-5 d-md-block">
            <%= render 'new_editorial' %>
        </div>
        <div class="col-12 col-md-7 d-block col-left">
            <%= link_to 'Edit Artist', edit_artist_path(@artist) %> |
            <%= link_to 'Back', artists_path %> | 
            <%= link_to 'Delete Artist', @artist, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
    <% end %>
    
    
</div>


