<p id="notice"><%= notice %></p>

<h1>Songwriter Editorials</h1>

<table>
  <thead>
    <tr>
      <th>Songwriter</th>
      <th>Link url</th>
      <th>Img url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @songwriter_editorials.each do |songwriter_editorial| %>
      <tr>
        <td><%= songwriter_editorial.songwriter_id %></td>
        <td><%= songwriter_editorial.link_url %></td>
        <td><%= songwriter_editorial.img_url %></td>
        <td><%= link_to 'Show', songwriter_editorial %></td>
        <td><%= link_to 'Edit', edit_songwriter_editorial_path(songwriter_editorial) %></td>
        <td><%= link_to 'Destroy', songwriter_editorial, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Songwriter Editorial', new_songwriter_editorial_path %>
