<!DOCTYPE html>
<html>
  <head>
    <title>DefectedMusic</title>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="https://defected.com/static/font/avant-garde.css" />

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Content Container -->
    <div id="content" class="container">

      <!-- Navigation -->
      <nav class="row align-items-end">
        <div class="col-12 col-lg-auto logo">
          <%= link_to image_tag("defectedmusic_logo.svg", class: "img-fluid"), root_path %>
        </div>
        <div class="col-12 col-lg-auto ml-auto">
          <ul class="nav justify-content-center">
            <% if user_signed_in? %>
              <li class="nav-item active">
                <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "nav-link") %>
              </li>
            <% end %>
            <li class="nav-item">
              <%= link_to "Producers", root_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to "Songwriters", "/songwriters", class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to "Catalogue", "/catalogue", class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to "About", "/about", class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to image_tag("socials/twitter.svg", class: "img-fluid"), "https://twitter.com/defectedmusicuk/", class: "nav-link twitter", target: "_blank" %>
            </li>
            <li class="nav-item">
              <%= link_to image_tag("socials/ig.svg", class: "img-fluid"), "https://www.instagram.com/defectedmusicuk/", class: "nav-link insta", target: "_blank" %>
            </li>
          </ul>
        </div>
      </nav>
      
      <%= yield %>
    </div>
    
  </body>
</html>
